---
data_dir: "/var/lib/vector"

sources:
  dummy_logs:
    type: demo_logs
    format: syslog
    interval: 1

sinks:
  clickhouse:
    inputs:
      - dummy_logs
    type: "clickhouse"
    endpoint: "{{ vector_endpoint_clickhouse }}"
    database: "logs"
    table: "{{ vector_endpoint_clickhouse_table }}"
    acknowledgements:
      enabled: false
    healthcheck:
      enabled: false
    compression: gzip
    skip_unknown_fields: true